body {
  --primary-color: #428bca;
  --secondary-color: #4246ca;
  --tertiary-color: #42cac5;

  --background-color: #EEE;

  background: var(--background-color);
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-left: 0;
  @screen sm {
    padding-left: 90px;
  }
  @screen md {
    padding-left: 240px;
  }
}
