body {
  --primary-color: #428bca;
  --secondary-color: #4246ca;
  --tertiary-color: #42cac5;

  --background-color: #EEE;

  background: var(--background-color);
  @screen sm {
    padding-left: 6rem;
  }
  @screen md {
    padding-left: 14rem;
  }
}
