name: Pipeline

##                     validation
##               ↗                  ↘
##  preparation  →     sonarqube    →  deploy-production
##               ↘                  ↗
##                  deploy-preview

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

on:
  push:
    paths-ignore:
    - 'LICENSE'
    - 'README.md'

jobs:
  preparation:
    name: Preparation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node Modules
        uses: actions/cache@v5
        id: cache-node-module
        with:
          path: node_modules
          key: ${{ runner.OS }}-node-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-node-modules-
      - name: Cache nuxt
        uses: actions/cache@v5
        id: cache-nuxt
        with:
          path: .nuxt
          key: ${{ runner.OS }}-nuxt-${{ hashFiles('**/nuxt.config.ts') }}
          restore-keys: |
            ${{ runner.OS }}-nuxt-
      - name: Install dependencies
        if: steps.cache-node-module.outputs.cache-hit != 'true'
        run: YARN_ENABLE_SCRIPTS=false yarn install --frozen-lockfile
      - name: Outdated listing
        run: yarn outdated
        continue-on-error: true
      - name: Prepare Nuxt
        run: yarn postinstall
      - name: Check the source code
        run: |
          yarn lint
          yarn typecheck
      - name: Test the source code
        run: yarn test:coverage
      - name: Archive code coverage results
        uses: actions/upload-artifact@v6
        with:
          name: CodeCoverageResult
          path: coverage
  validation:
    name: Validation
    needs: [preparation]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node Modules
        uses: actions/cache@v5
        id: cache-node-module
        with:
          path: node_modules
          key: ${{ runner.OS }}-node-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-node-modules-
      - name: Cache nuxt
        uses: actions/cache@v5
        id: cache-nuxt
        with:
          path: .nuxt
          key: ${{ runner.OS }}-nuxt-${{ hashFiles('**/nuxt.config.ts') }}
          restore-keys: |
            ${{ runner.OS }}-nuxt-
      - name: Generate the static app
        run: yarn generate
      - name: Check the HTML
        run: yarn validate:html
  deploy-preview:
    name: Deploy preview website
    needs: [preparation]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node Modules
        uses: actions/cache@v5
        id: cache-node-module
        with:
          path: node_modules
          key: ${{ runner.OS }}-node-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-node-modules-
      - name: Cache nuxt
        uses: actions/cache@v5
        id: cache-nuxt
        with:
          path: .nuxt
          key: ${{ runner.OS }}-nuxt-${{ hashFiles('**/nuxt.config.ts') }}
          restore-keys: |
            ${{ runner.OS }}-nuxt-
      - name: Install Vercel CLI
        run: npm install --ignore-scripts --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=$VERCEL_TOKEN
      - name: Build Project Artifacts
        run: vercel build --token=$VERCEL_TOKEN
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=$VERCEL_TOKEN >> deployment-url.txt
      - name: Archive code deployment URL
        uses: actions/upload-artifact@v6
        with:
          name: DeploymentURL
          path: deployment-url.txt
  sonarqube:
    name: SonarQube
    needs: [preparation]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Cache Node Modules
        uses: actions/cache@v5
        id: cache-node-module
        with:
          path: node_modules
          key: ${{ runner.OS }}-node-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-node-modules-
      - name: Cache nuxt
        uses: actions/cache@v5
        id: cache-nuxt
        with:
          path: .nuxt
          key: ${{ runner.OS }}-nuxt-${{ hashFiles('**/nuxt.config.ts') }}
          restore-keys: |
            ${{ runner.OS }}-nuxt-
      - name: Download code coverage results
        uses: actions/download-artifact@v7
        with:
          name: CodeCoverageResult
          path: coverage
      - name: Get version
        id: version
        shell: bash
        run: |
          echo "GIT_VERSION=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
      - name: Run SonarQube
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io/
        with:
          args: >
            "-Dsonar.projectVersion=${{ env.GIT_VERSION }}"
            "-Dsonar.qualitygate.wait=true"
  deploy-production:
    name: Deploy production website
    needs: [deploy-preview, sonarqube]
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node Modules
        uses: actions/cache@v5
        id: cache-node-module
        with:
          path: node_modules
          key: ${{ runner.OS }}-node-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-node-modules-
      - name: Cache nuxt
        uses: actions/cache@v5
        id: cache-nuxt
        with:
          path: .nuxt
          key: ${{ runner.OS }}-nuxt-${{ hashFiles('**/nuxt.config.ts') }}
          restore-keys: |
            ${{ runner.OS }}-nuxt-
      - name: Install Vercel CLI
        run: npm install --ignore-scripts --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=$VERCEL_TOKEN
      - name: Build Project Artifacts
        run: vercel build --token=$VERCEL_TOKEN
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN
